<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @professional.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @professional.lastname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @professional.phone %>
</p>

<p>
  <strong>License:</strong>
  <%= @professional.license %>
</p>

<p>
  <strong>Firmname:</strong>
  <%= @professional.firmname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @professional.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professional.email %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @professional.photo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @professional.description %>
</p>

<p>
  <strong>Established:</strong>
  <%= @professional.established %>
</p>

<p>
  <strong>Returncurrentmonth:</strong>
  <%= @professional.returncurrentmonth %>
</p>

<p>
  <strong>Return1year:</strong>
  <%= @professional.return1year %>
</p>

<p>
  <strong>Return3years:</strong>
  <%= @professional.return3years %>
</p>

<p>
  <strong>Return5years:</strong>
  <%= @professional.return5years %>
</p>

<p>
  <strong>Totalassets:</strong>
  <%= @professional.totalassets %>
</p>

<p>
  <strong>Minimumamount:</strong>
  <%= @professional.minimumamount %>
</p>

<p>
  <strong>Volatility:</strong>
  <%= @professional.volatility %>
</p>

<p>
  <strong>Sharperatio:</strong>
  <%= @professional.sharperatio %>
</p>

<p>
  <strong>Standartdeviation:</strong>
  <%= @professional.standartdeviation %>
</p>

<p>
  <strong>Beta:</strong>
  <%= @professional.beta %>
</p>

<%= link_to 'Edit', edit_professional_path(@professional) %> |
<%= link_to 'Back', professionals_path %>
