<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @user.phonenumber %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user.photo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @user.portfolio %>
</p>

<p>
  <strong>Income:</strong>
  <%= @user.income %>
</p>

<p>
  <strong>Profit:</strong>
  <%= @user.profit %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
